@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css */
* {
  -webkit-appearance: none; /* Safari et Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
}

